{% extends "store/main.html" %}
{#{% load static %}#}
{% load i18n %}

{% block content %}
{#    {% if process == "connect" %}#}
{#    <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>#}
{##}
{#    <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>#}
{#    {% else %}#}
{#    <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>#}
{##}
{#    <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>#}
{#    {% endif %}#}
        <section class="vh-100" style="background-color: #eee;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center" style="padding: 10px">

                                <form method="post">

                                    {% csrf_token %}
                                    <p>{% blocktrans with provider.name as provider %}{{ provider }} 로 로그인을 할까요?{% endblocktrans %}</p>
                                    <button id="submit" class="btn btn-block btn-primary mb-2" type="submit">예</button>


                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
