{% extends 'store/main.html' %}
{% load static %}

{% block content %}

    <body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="{% static 'nscreen_logo/5_망고땡_로고(영문)_정사각.png' %}" alt=""
                 width="350em" height="300em">
            <h2>장바구니</h2>
            <p class="lead">구매해주셔서 감사합니다!</p>
        </div>

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">주문 요약</span>
                    <span class="badge badge-secondary badge-pill">3</span>
                </h4>
                <ul class="list-group mb-3">
                    {% for item in items %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">{{ item.product.product_name }}</h6>
                                <small class="text-muted">수량: {{ item.quantity }}</small>
                            </div>
                            <span class="text-muted">{{ item.product.price_discount | floatformat:0 }}원</span>
                        </li>



                        {% if item.item_option_bool == True %}

                            {% for options in itemOption %}
                                {% if item.product.product_name == options.order_item_option.product.product_name %}

                                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                                        <div>
                                            <h6 class="my-0">ㄴ{{ options.product_option.option_name }}</h6>
                                            <small class="text-muted">수량 : {{ options.quantity }}</small>
                                        </div>
                                        <span class="text-muted">{{ options.product_option.option_price|floatformat:0 }}원</span>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>배송비: </span>
                        <strong>{{ order.get_deliver_price }}원</strong>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>총 금액: </span>
                        <strong>{{ order.get_total|floatformat:0 }}원</strong>
                    </li>
                </ul>
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">-------------</h4>
                <form id="form">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="sender">보내는 사람</label>
                            <input type="text" class="form-control" id="sender" name="orderer_name" placeholder=""
                                   value="" required="">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="receiver">받는 사람</label>
                            <input type="text" class="form-control" id="receiver" name="recipent_name" placeholder=""
                                   value="" required="">

                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email">이메일 <span class="text-muted"></span></label>
                        <input type="email" class="form-control" id="email" name="email"
                               placeholder=mango@mangotang.com required="">
                    </div>
                    <div class="row">
                        <div class="col-md-2 mb-3">
                            <label for="address">우편</label>
                            <input type="text" class="form-control address_kakao" name="post_code"
                                   id="post_kakao" placeholder="우편"
                                   required=""
                                   readonly>
                        </div>
                        <div class="col-md-8 mb-3">
                            <label for="address">주소</label>
                            <input type="text" class="form-control address_kakao" name="recipent_address1"
                                   id="address_kakao" placeholder="주소"
                                   required=""
                                   readonly>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="addressButton">주소 찾기</label>
                            <br>
                            <button class="address_kakao" type="button" value="ignore" formnovalidate>검색</button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="address2">상세주소</label>
                        <input type="text" class="form-control" name="recipent_address2" id="address2" placeholder="주소"
                               required="">

                    </div>

                    <div class="mb-3">
                        <label for="receiver_number">수령인 전화번호</label>
                        <input type="number" class="form-control" id="onlyNumber" name="recipent_number"
                               placeholder="'-'을 제외한 휴대폰번호를 입력해주세요"
                               maxlength="11" oninput="maxLengthCheck(this)"
                               required="">

                    </div>

                    <div class="mb-3">
                        <label for="orderer_number">주문자 전화번호</label>
                        <input type="number" class="form-control" id="onlyNumber2" name="orderer_number"
                               placeholder="'-'을 제외한 휴대폰번호를 입력해주세요"
                               maxlength="11" oninput="maxLengthCheck(this)"
                               required="">

                    </div>

                    <div class="mb-3">
                        <label for="order request">요청사항<span class="text-muted">(선택사항)</span></label>
                        <input type="text" class="form-control" id="request" name="order_request" placeholder="요청사항">
                    </div>


                    <hr class="mb-4">


                    <h4 class="mb-3">결제</h4>


                    <button class="btn btn-primary btn-lg btn-block submit" type="submit">결제하기</button>
                </form>
            </div>
        </div>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© 2017-2018 Company Name</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://getbootstrap.com/docs/4.1/examples/checkout/#">Privacy</a>
                </li>
                <li class="list-inline-item"><a href="https://getbootstrap.com/docs/4.1/examples/checkout/#">Terms</a>
                </li>
                <li class="list-inline-item"><a href="https://getbootstrap.com/docs/4.1/examples/checkout/#">Support</a>
                </li>
            </ul>
        </footer>
    </div>

    <script type=text/javascript>
        function paymentComplete(data) {
            url = "complete/" + data["response"]["merchant_uid"] + '/'
            jQuery.ajax({
                    headers: {
                        "X-CSRFToken": csrftoken,
                        "Content-Type": "application/json",
                    },
                    url: url,
                    type: 'POST',
                    dataType: "json",
                    data: JSON.stringify(data)
                }
            ).done(function () {

                console.log("redirect")
                window.location.replace(url)
            });
        }

        function requestPay(merchant_uid, name, amount, buyer_email, buyer_name, buyer_tel, buyer_addr, buyer_postcode) {
            var IMP = window.IMP; // 생략 가능
            IMP.init("imp55124420"); // 예: imp00000000l
            IMP.request_pay({ // param
                pg: "html5_inicis", //PG사
                pay_method: "card", //결제 수단
                merchant_uid: merchant_uid, //주문번호
                name: name,//상품명
                amount: amount, //가격
                buyer_email: buyer_email, //이메일
                buyer_name: buyer_name, //이름
                buyer_tel: buyer_tel, //전화번호
                buyer_addr: buyer_addr, //주소
                buyer_postcode: buyer_postcode //우편번호
            }, function (rsp) { // callback
                if (rsp.success) { //결제 성공식
                    jQuery.ajax({ //위변조 확인
                        headers: {
                            "X-CSRFToken": csrftoken,
                            "Content-Type": "application/json",
                        },
                        url: "complete/",
                        type: 'POST',
                        dataType: "json",
                        data: JSON.stringify({'imp_uid': rsp.imp_uid, 'merchant_uid': rsp.merchant_uid})
                    }).done(function (data) {
                        var info = JSON.parse(data)
                        if (info["response"]["status"] == "paid") {
                            alert("결제 성공");
                            paymentComplete(info)
                        } else if (info["response"]["status"] == "forgery") {
                            alert("자바 스크립트 위조");
                            location.reload();
                        } else {
                            alert(info["response"]["fail_reason"] + " 에러 지속시 고객센터에 문의 주세요");
                        }
                    });

                } else {
                    var msg = '결제에 실패하였습니다.';
                    msg += '에러내용 : ' + rsp.error_msg;
                }
            });
        }

        function submitFormData() {
            var data = {
                'orderer_name': null,
                'recipent_name': null,
                'email': null,
                'post_code': null,
                'recipent_address1': null,
                'recipent_address2': null,
                'recipent_number': null,
                'orderer_number': null,
                'order_request': null,
            }
            data.orderer_name = form.orderer_name.value
            data.recipent_name = form.recipent_name.value
            data.email = form.email.value
            data.post_code = form.post_code.value
            data.recipent_address1 = form.recipent_address1.value
            data.recipent_address2 = form.recipent_address2.value
            data.recipent_number = form.recipent_number.value
            data.orderer_number = form.orderer_number.value
            data.order_request = form.order_request.value
            var url = 'payment/';
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    "X-CSRFToken": token,
                },
                body: JSON.stringify({'data': data})
            }).then((response) => response.json())
                .then((data) => {
                    obj = JSON.parse(data)

                    requestPay(obj['merchant_uid'], obj['name'], obj['amount'], obj['buyer_email'],
                        obj['buyer_name'], obj['buyer_tel'], obj['buyer_addr'], obj['post_code'])
                })
        }

        var token = '{{csrf_token}}';

        var form = document.getElementById('form')
        form.addEventListener('submit', function (e) { //결제 버튼 클릭시
            e.preventDefault()

            submitFormData();


        });


    </script>
    <script type=text/javascript>
        //전화번호 정수만 입력했는지 확인
        function maxLengthCheck(object) {
            object.value = object.value.replace(/[^0-9]/gi, '');
            if (object.value.length > object.maxLength) {
                object.value = object.value.slice(0, object.maxLength)
            }
        }

        //다음(카카오) 주소 api
        $('.address_kakao').click(function () {
            new daum.Postcode({
                oncomplete: function (data) { //선택시 입력값 세팅
                    document.getElementById("address_kakao").value = data.address; // 주소 넣기
                    document.getElementById("post_kakao").value = data.zonecode; // 우편 번호 넣기
                    document.querySelector("input[name=recipent_address2]").focus(); //상세입력 포커싱
                }
            }).open();
        });
    </script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    </body>


{% endblock content %}