{% extends 'store/main.html' %}
{% load store_filter %}
{% load static %}
{% block content %}
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 "> <!--align-items-center-->
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0"
                         src={{ product.image_title.url }}></div>
                <!-- 상품 정보-->
                <div class="col-md-6">
                    <div class="small mb-1">{{ product.seller_code }}</div>
                    <!-- 제목 -->
                    <h1 class="display-7 fw-bolder">{{ product.first_title }}</h1>
                    <p class="lead">{{ product.second_title }}</p>
                    <hr>
                    <!-- 가격 -->
                    <div class="d-flex">
                        <p class="text-decoration-line-through">{{ product.price | floatformat:0 }} </p>
                    </div>
                    <div class="d-flex">
                        <p class="fs-2">{{ product.price_discount | floatformat:0 }}</p>
                        <div style="padding-left:10px;">
                            <p class="fs-2" style="color: #11a0a0"> {{ product.discount }}%</p>
                        </div>
                    </div>
                    <hr>
                    <!-- 배송비 -->

                    <p class="lead">배송비: {{ product.shipment_price }}원 </p>

                    <!-- 옵션 -->
                    {% if product.option_bool == True %}
                        <div class="d-flex w3-container">
                            <select class="form-control select option-selector" id="option1">
                                <option value="" selected disabled hidden>선택해주세요.</option>

                                {% for option in options %}
                                    <option data-product="{{ option.option_seller_code }}">{{ option.option_name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <br>

                        {% for option in options %}
                            <div class="container-option {{ option.option_seller_code }}"
                                 style="background-color: #f9f9fa; display: none; border-style: outset; border-width: 1px;  margin-bottom: 5px">

                                <div class="item-option-title" style="padding-left: 20px; padding-top: 5px">
                                    {{ option.option_name }}
                                </div>
                                <div class="item-option-exit" style="padding-top: 5px">
                                    <i type="button" class="far fa-times-circle" style="padding-top: 10px"></i>
                                </div>
                                <div class="item-option-quantity" style="padding-left: 15px; ">
                                    {#                                    <input type="button" value="-" class="minus"#}
                                    {#                                           style="  border-radius: 30px; border: 1px solid #f9f9fa;">#}
                                    <i type="button" class="fas fa-minus option-minus"
                                       data-id="{{ forloop.counter0 }}" data-price="{{ option.option_price }}"></i>
                                    <input type="number" step="1" min="1"
                                           max="99"
                                           name="quantity" value="1"
                                           title="Qty"
                                           size="2"
                                           pattern="" inputmode=""
                                           style="width: 30px; text-align:center"
                                           class="option_quantity{{ forloop.counter0 }}" readonly>
                                    <i type="button" class="fas fa-plus option-plus"
                                       data-id="{{ forloop.counter0 }}" data-price="{{ option.option_price }}"></i>
                                    {#                                    <input type="button" value="+" class="plus"#}
                                    {#                                           style="  border-radius: 30px; border: 1px solid #f9f9fa;">#}
                                </div>
                                <div class="item-option-cost">
                                    <label style="padding-top: 5px">{{ option.option_price | floatformat:0 }}원</label>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="d-flex">

                            <div style="padding-right:10px;">
                                <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                    카트에 넣기
                                </button>
                            </div>
                            <div style="padding-right:10px;">
                                <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                    바로 구매하기
                                </button>
                            </div>
                            <div style="text-align: center">
                                <p style="color: #ee7d18; font-size: 1.5rem"
                                   class="total-option-price">{{ product.price_discount | floatformat:0 }}원</p>
                            </div>
                        </div>
                    {% else %} <!-- 옵션 없음 -->
                        <div class="d-flex">
                            <div class="quantity buttons_added">
                                <input type="button" value="-" class="minus">
                                <input type="number" step="1" min="1"
                                       max=""
                                       name="quantity" value="1"
                                       title="Qty"
                                       class="input-text qty text product-quantity" size="4"
                                       pattern="" inputmode="" readonly>
                                <input type="button" value="+" class="plus">
                            </div>
                            <div style="padding-right:10px;">
                                <button class="btn btn-outline-dark flex-shrink-0 add-to-cart" data-sellerCode="{{ product.seller_code }}" type="button">
                                    <i class="bi-cart-fill me-1"></i>
                                    카트에 넣기
                                </button>
                            </div>
                            <div style="padding-right:10px;">
                                <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                    <i class="bi-cart-fill me-1"></i>
                                    바로 구매하기
                                </button>
                            </div>
                            <div style="text-align: center">
                                <p style="color: #ee7d18; font-size: 1.5rem"
                                   class="total-price">{{ product.price_discount | floatformat:0 }}원</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!--탭-->
    <div class="container mt-3">
        <!-- 옵션들 -->
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#home">상품정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#menu1">상품상세정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#menu2">후기({{ total_review }})</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#menu3">문의({{ total_question }})</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content div-align-center ">
            <div id="home" class="container tab-pane active"><br>
                <h3>상품정보</h3>
                <img src={{ product.image_introduce.url }}>

            </div>
            <div id="menu1" class="container tab-pane fade"><br>
                <h3>상품상세정보</h3>
                <img src={{ product.image_detail.url }}>
            </div>
            <div id="menu2" class="container tab-pane fade"><br>
                {% include "store/review.html" %}

            </div>
            <div id="menu3" class="container tab-pane fade"><br>
                {% include "store/question.html" %}
            </div>
        </div>
    </div>
    <!-- 관련 상품 -->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Related product</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Fancy Product</h5>
                                <!-- Product price-->
                                $40.00 - $80.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                            Sale
                        </div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Special Item</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">$20.00</span>
                                $18.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                            Sale
                        </div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Sale Item</h5>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">$50.00</span>
                                $25.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Popular Item</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                $40.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>

        var order = new Object();


        var price = '{{ product.price }}'
        var discount = '{{ product.discount }}'
        var totalPrice = ((discount / 100) * price)
        $('.option-selector').on('change', function () { //input: input 값이 바뀔때 change: 값이 바뀌고 focus 를 잃을때
            {#var value = $(this).val() #} {# select 의 이름을 가져옴 #}
            var sellerCode = $(this).find("option:selected").data("product");
            $('.' + sellerCode).show()
        });

        $(document).ready(function () { //DOM이 준비가 되면
            $('.add-to-cart').click(function (e) {

                var sellerCode = $(this).data("sellerCode");
                var productAmount = $('.product-quantity').val();
                console.log("셀러코드" , sellerCode)
                console.log("프로닥트 개수", productAmount)

            });









            $('.plus').click(function (e) {
                e.preventDefault();
                var currentVal = parseInt($('.product-quantity').val());

                if (!isNaN(currentVal)) {
                    $('.product-quantity').val(currentVal + 1);
                    changeTotalPrice(currentVal + 1)

                }

            });

            $('.option-plus').click(function (e) {
                var optionId = $(this).data("id");
                var optionPrice = $(this).data("price");

                var currentVal = parseInt($('.option_quantity' + optionId).val());
                if (!isNaN(currentVal)) {
                    $('.option_quantity' + optionId).val(currentVal + 1);
                    optionTotalPrice(currentVal + 1, optionPrice)
                }

            });
            $('.minus').click(function (e) {
                e.preventDefault();
                var currentVal = parseInt($('.product-quantity').val());
                if (!isNaN(currentVal) && currentVal > 1) {
                    $('.product-quantity').val(currentVal - 1);
                    changeTotalPrice(currentVal - 1)

                }
            });
            $('.option-minus').click(function (e) {
                var optionId = $(this).data("id");
                var optionPrice = $(this).data("price");
                var currentVal = parseInt($('.option_quantity' + optionId).val());
                if (!isNaN(currentVal) && currentVal > 1) {
                    $('.option_quantity' + optionId).val(currentVal - 1);
                    optionTotalPrice(currentVal - 1, optionPrice)
                }
            });



            function changeTotalPrice(currentVal) {

                $('.total-price').html(parseInt(totalPrice) * currentVal + "원")
            }

            function optionTotalPrice(currentVal, optionPrice) {
                totalPrice += parseInt(optionPrice)
                $('.total-option-price').html(parseInt(totalPrice) + "원")
            }


        });


    </script>
{% endblock content %}
