{#{% load store_filter %}#}
{% load static %}
<div class="container mt-3">


    <table class="table">
        <thead class="table-light">
        <tr>
            <th>답변상태</th>
            <th>제목</th>
            <th>문의자</th>
            <th>등록일</th>
        </tr>
        </thead>
        <tbody>
{#        question 이라고 하면 에러도 안뜨고 출력됨 question은 장고에 기본 내장된 기능이라서 에러#}
        {% for product_quesiton in questions %}
            <tr>
                {% if product_quesiton.question_state is True %}
                    <td class="text-success">[답변완료]</td>
                {% elif product_quesiton.question_state is False %}
                    <td class="text-warning">[답변대기중]</td>
                {% endif %}
                <td>{{ product_quesiton.question_body }}</td>
                <td>{{ product_quesiton.customer.user}}</td>
                <td>{{ product_quesiton.date_added }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

