{#{% load store_filter %}#}
{% load static %}
<div class="container mt-3">


    <table class="table">
        <thead class="table-light">
        <tr>
            <th>답변상태</th>
            <th>제목</th>
            <th>문의자</th>
            <th>등록일</th>
        </tr>
        </thead>
        <tbody id="product-question">


        </tbody>
    </table>

</div>

<!-- 페이징처리 시작 -->
<ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {#    {% if question_obj.has_previous %}#}
    {#        <li class="page-item">#}
    {#            <a class="page-link" href="?page={{ question_obj.previous_question_page }}">이전</a>#}
    {#        </li>#}
    {#    {% else %}#}
    {#        <li class="page-item disabled">#}
    {#            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>#}
    {#        </li>#}
    {#    {% endif %}#}
    <!-- 페이지리스트 -->
    {% for question_page in question_obj.paginator.page_range %}
        {% if question_page >= question_obj.number|add:-5 and question_page <= question_obj.number|add:5 %}
            {% if question_page == question_obj.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ question_page }}">{{ question_page }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ question_page }}">{{ question_page }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {#    {% if question_obj.has_next %}#}
    {#        <li class="page-item">#}
    {#            <a class="page-link" href="?page={{ question_obj.next_question_page }}">다음</a>#}
    {#        </li>#}
    {#    {% else %}#}
    {#        <li class="page-item disabled">#}
    {#            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>#}
    {#        </li>#}
    {#    {% endif %}#}
</ul>
<!-- 페이징처리 끝 -->
<script>
    var token = '{{csrf_token}}';

    $.ajax({
        headers: {"X-CSRFToken": token},
        url: '/product/question/{{ product.seller_code }}/1/',
        type: 'POST',
        dataType: "json",
        data: JSON.stringify('{{ user }}'),
    }).done(function (data) {
        nextQuestion(data, 1)
    }).fail(function () {
        console.log("실패")
    })

    function nextQuestion(data, page) {
        var counter = 0
        $('#product-reivew').html('');
        $.each(jQuery.parseJSON(data), function (id, data) {

            if (data.fields.question_state == true && data.fields.question_public == true) {
                $('#product-question').append(`<tr><td class="text-success">[답변완료]</td><td><a data-id="answer${counter}" class="button more-comment"
                           href="javascript:void(0)">${data.fields.question_body}</a></td><td>${data.fields.review_user_name}</td>
                <td>${data.fields.date_added}</td></tr>`);
            } else if (data.fields.question_state == true && data.fields.question_public == false) {
                $('#product-question').append(`<tr><td class="text-success">[답변완료]</td><td>${data.fields.question_body}</td><td>${data.fields.review_user_name}</td>
                <td>${data.fields.date_added}</td></tr>`);
            } else if (data.fields.question_state == false && data.fields.question_public == true) {
                $('#product-question').append(`<tr><td class="text-warning">[답변대기중]</td><td><a data-id="answer${counter}" class="button more-comment"
                           href="javascript:void(0)">${data.fields.question_body}</a></td><td>${data.fields.review_user_name}</td>
                <td>${data.fields.date_added}</td></tr>`);
            } else {
                $('#product-question').append(`<tr><td class="text-warning">[답변대기중]</td><td>
                           ${data.fields.question_body}</td><td>${data.fields.review_user_name}</td>
                <td>${data.fields.date_added}</td></tr>`);
            }

            console.log('{{ user }}');
            console.log("question_body", data.fields.question_body)
            console.log("question_answer", data.fields.question_answer)
            console.log("date_added", data.fields.date_added)
            console.log("question_state", data.fields.question_state)
            console.log("question_public", data.fields.question_public)
            console.log("review_user_name", data.fields.review_user_name)
            console.log("product_question", data.fields.product_question)


            counter++

        });

    }

</script>