{% extends 'store/main.html' %}
{% load static %}


{% block content %}
    <section class="vh-100" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-6 text-center" style="padding: 10px">
                            <h3 class="mb-5">회원가입</h3>

                            <div class="form-outline mb-4">
                                <input type="email" placeholder="이메일" id="typeemailx-2"
                                       class="form-control form-control-lg"/>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" placeholder="비밀번호" id="typepasswordx-2"
                                       class="form-control form-control-lg"/>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" placeholder="비밀번호" id="typepasswordx-2"
                                       class="form-control form-control-lg"/>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" placeholder="이름" id="typepasswordx-2"
                                       class="form-control form-control-lg"/>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="number" placeholder="휴대폰 번호" id="typepasswordx-2"
                                       class="form-control form-control-lg"/>
                            </div>


                            <div class="form-outline mb-4">
                                <input type="date" placeholder="생년월일" id="typepasswordx-2"
                                       class="form-control form-control-lg"/>
                            </div>

                        </div>

                        <div class="form-check div-register-term">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term">
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>
                                <b>전체 동의</b></label>
                        </div>
                        <hr class="my-1">

                        <div class="form-check div-register-term">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term">
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>
                                <a href="#" class="term-service nav-link-cart">개인정보 수집 약관</a> (필수)</label>
                        </div>
                        <div class="form-check div-register-term">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term">
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>
                                <a href="#" class="term-service nav-link-cart">회원가입 이용약관</a>
                                (필수)</label>
                        </div>
                        <div class="form-check div-register-term">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term">
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>이메일을 통해 망고땡 정보 수신
                                (선택)</label>
                        </div>
                        <div class="form-check div-register-term">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term">
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>SMS를 통한 망고땡 정보수신
                                (선택)</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    </body>

{% endblock %}
