{% extends 'store/main.html' %}
{% load static %}


{% block content %}
    <section class="vh-100" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center" style="padding: 10px">
                            <h3 class="mb-5">회원가입</h3>

                            <div class="form-outline mb-4">
                                <input type="email" placeholder="이메일" id="typeemailx-2"
                                       class="form-control form-control-lg"/>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" placeholder="비밀번호" id="typepasswordx-2"
                                       class="form-control form-control-lg"/>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    </body>

{% endblock %}