{% extends 'store/main.html' %}
{% load static %}


{% block content %}
    <section class="vh-100" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        {#                        <div class="card-body p-6 text-center" style="padding: 10px">#}
                        <div class="card-body p-6" style="padding: 10px">
                            <h3 class="mb-5">회원가입</h3>
                            <form method="post" id="form__wrap" class="post-form" action="{% url 'register' %}">
                                {% csrf_token %}
                                {% include "store/form_errors.html" %}
                                <div class="form-group">
                                    <label for="username">아이디</label>
                                    <input type="text" class="form-control" name="username" id="username"
                                           value="{{ form.username.value|default_if_none:'' }}">
                                </div>
                                <div class="form-group">
                                    <label for="password1">비밀번호</label>
                                    <input type="password" class="form-control" name="password1" id="password1"
                                           value="{{ form.password1.value|default_if_none:'' }}">
                                </div>
                                <div class="form-group">
                                    <label for="password2">비밀번호 확인</label>
                                    <input type="password" class="form-control" name="password2" id="password2"
                                           value="{{ form.password2.value|default_if_none:'' }}">
                                </div>
                                <div class="form-group">
                                    <label for="name">이름</label>
                                    <input type="text" class="form-control" name="name" id="name"
                                           value="{{ form.name.value|default_if_none:'' }}">
                                </div>
                                <div class="form-group">
                                    <label for="email">이메일</label>
                                    <input type="text" class="form-control" name="email" id="email"
                                           value="{{ form.email.value|default_if_none:'' }}">
                                </div>
                                <div class="form-group">
                                    <label for="phone_number">전화번호</label>
                                    <input type="number" class="form-control" name="phone_number" id="phone_number"
                                           value="{{ form.phone_number.value|default_if_none:'' }}" placeholder="'-'을 제외한 휴대폰번호를 입력해주세요" maxlength="11" oninput="maxLengthCheck(this)">
                                </div>
                                <hr>


                                <button type="submit" class="btn btn-primary next-button">생성하기</button>

                                <div class="terms__check__all form-check ">
                                    <input type="checkbox" name="checkAll" id="checkAll"/>
                                    <label for="checkAll">모두 동의합니다.</label>
                                </div>
                                <ul class="terms__list">
                                    <div class="terms__box">
                                        <div class=" input__check">
                                            <input type="checkbox" name="termsOfService" id="termsOfService"
                                                   required/>
                                            <label for="termsOfService" class="required"><a href="#"
                                                                                            class="term-service nav-link-cart">망고땡
                                                이용약관</a> (필수)</label>
                                        </div>
                                    </div>
                                    <div class="terms__box form-group">
                                        <div class="input__check">
                                            <input type="checkbox" name="privacyPolicy" id="privacyPolicy"
                                                   required/>
                                            <label for="privacyPolicy" class="required"><a href="#"
                                                                                           class="term-service nav-link-cart">개인정보
                                                수집 및 이용 동의</a> (필수)</label>
                                        </div>
                                    </div>
                                    <div class="terms__box">
                                        <div class="input__check">
                                            <input type="checkbox" name="allowPromotions" id="allowPromotions"
                                                   value="False"/>
                                            <label for="allowPromotions">프로모션 정보 수신 동의 (선택)</label>
                                        </div>

                                    </div>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>

        const form = document.querySelector("#form__wrap");
        const checkAll = document.querySelector(".terms__check__all input");
        const checkBoxes = document.querySelectorAll(".input__check input");
        const submitButton = document.querySelector("button");
        const allowPromotions = document.getElementById('allowPromotions')

        const agreements = {
            termsOfService: false,
            privacyPolicy: false,
            allowPromotions: false
        };

        checkBoxes.forEach((item) => item.addEventListener("input", toggleCheckbox));

        function toggleCheckbox(e) {

            const {checked, id} = e.target;
            agreements[id] = checked;
            this.parentNode.classList.toggle("active");
            checkAllStatus();
            toggleSubmitButton();
        }

        function checkAllStatus() {
            const {termsOfService, privacyPolicy, allowPromotions} = agreements;
            if (termsOfService && privacyPolicy && allowPromotions) {
                allowPromotions.setAttribute('value', 'True');

                checkAll.checked = true;
            } else {
                allowPromotions.setAttribute('value', 'False');

                checkAll.checked = false;

            }
        }

        function toggleSubmitButton() {
            const {termsOfService, privacyPolicy} = agreements;
            if (termsOfService && privacyPolicy) {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        }

        allowPromotions.addEventListener('click', function () {
            if (allowPromotions.getAttribute('value') == 'False') {
                allowPromotions.setAttribute('value', 'True');
            } else {
                allowPromotions.setAttribute('value', 'False');
            }
        });


        checkAll.addEventListener("click", (e) => {
            const {checked} = e.target;
            if (checked) {
                checkBoxes.forEach((item) => {
                    allowPromotions.setAttribute('value', 'True');

                    item.checked = true;
                    agreements[item.id] = true;
                    item.parentNode.classList.add("active");
                });
            } else {
                checkBoxes.forEach((item) => {
                    allowPromotions.setAttribute('value', 'False');

                    item.checked = false;
                    agreements[item.id] = false;
                    item.parentNode.classList.remove("active");
                });
            }
            toggleSubmitButton();
        });

        function maxLengthCheck(object) {
            object.value = object.value.replace(/[^0-9]/gi, '');
            if (object.value.length > object.maxLength) {
                object.value = object.value.slice(0, object.maxLength)
            }
        }
    </script>
    </body>

{% endblock %}
