{% load store_filter %}
{% load static %}
<div class="container mt-3">
    <table class="table">
        <thead class="table-light">
        <tr id="product-review-topic">

        </tr>
        <tr>
            <th>번호</th>
            <th>고객만족도</th>

            <th>구매후기</th>

            <th>작성자</th>

            <th>작성일</th>

        </tr>
        </thead>
        <tbody id="product-reivew">

        </tbody>
    </table>

</div>
<!-- 페이징처리 시작 -->
<ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {#    {% if review_obj.has_previous %}#}
    {#        <li class="page-item">#}
    {#            <a class="page-link">이전</a>#}
    {#        </li>#}
    {#    {% else %}#}
    {#        <li class="page-item disabled">#}
    {#            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>#}
    {#        </li>#}
    {#    {% endif %}#}
    <!-- 페이지리스트 -->
    {% for review_page in review_obj.paginator.page_range %}
        {% if review_page >= review_obj.number|add:-5 and review_page <= review_obj.number|add:5 %}
            {% if review_page == review_obj.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link review-page{{ review_page }}" data-page="{{ review_page }}">{{ review_page }}</a>
                </li>
            {% else %}
                <li class="page-item review-page" name="test">
                    <a class="page-link" data-page="{{ review_page }}">{{ review_page }}</a>
                    <!-- url, 페이지, id 태그 위치 가기 -->
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {#    {% if review_obj.has_next %}#}
    {#        <li class="page-item next">#}
    {#            <a class="page-link">다음</a>#}
    {#        </li>#}
    {#    {% else %}#}
    {#        <li class="page-item disabled">#}
    {#            <a class="page-link next" tabindex="-1" aria-disabled="true" href="#">다음</a>#}
    {#        </li>#}
    {#    {% endif %}#}
</ul>
<!-- 페이징처리 끝 -->
<script>

    $('.review-page').click(function (e) {
        $('.page-item').removeClass('active')
        {#$(e.target).addClass('active')#}

    });

    $.ajax({
        url: '/product/review/{{ product.seller_code }}/1/',
        type: 'GET'
    }).done(function (data) {
        nextReview(data, 1)
    }).fail(function () {
        console.log("실패")
    })


    $(".page-link").click(function () {
        var page = this.dataset.page;
        $.ajax({
            url: '/product/review/{{ product.seller_code }}/' + page + '/',
            type: 'GET'
        }).done(function (data) {
            nextReview(data, page)
        }).fail(function () {
            console.log("실패")
        })
    });


    function nextReview(data, page) {
        $('#product-reivew').html('');

        $.each(jQuery.parseJSON(data), function (id, data) {
            stars = getStars(data.fields.star_rating)
            {#console.log("product : ", data.fields.product)#}
            {#console.log("customer : ", data.fields.customer)#}
            {#console.log("date_added : ", data.fields.date_added)#}
            {#console.log("long_review : ", data.fields.long_review)#}
            {#console.log("review_bool : ", data.fields.review_bool)#}
            {#console.log("short_review : ", data.fields.short_review)#}
            {#console.log("star_rating : ", data.fields.star_rating)#}
            {#console.log("-" * 100)#}
            $('#product-reivew').append(`<tr><td>1</td><td>${stars}</td><td>${data.fields.short_review}</td><td>${data.fields.customer}</td><td>${data.fields.date_added}</td><tr>`);

            {#$.each(data, function (id, data) {   });#}
            {#console.log(pk.fields.customer)#}
            {#$.each(pk, function (customer, date_added, image, product, review_bool, review_bool, star_rating) {console.log(pk[product])});#}
        });
    }

    function getStars(value) {
        var stars = ""
        for(var i=0; i< value; i++){
            stars += '<span class="fa fa-star checked"></span>'
        }
        while (value < 5) {
            stars += '<span class="fa fa-star"></span>'
            value ++
        }
        return stars;
    }

</script>

