{% load store_filter %}
{% load static %}
<div class="container mt-3">
    <table class="table">
        <thead class="table-light">
        <tr>
            <th>번호</th>

            <th>고객만족도</th>
            <th>구매후기</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        {% for review in review_obj %}
            <tr>
                <td>
                    <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                    {{ review_obj.paginator.count|sub:review_obj.start_index|sub:forloop.counter0|add:1 }}
                </td>
                {% if review.star_rating == 5 %}
                    <td>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </td>
                {% elif review.star_rating == 4 %}
                    <td>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                    </td>
                {% elif review.star_rating == 3 %}
                    <td>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                    </td>

                {% elif review.star_rating == 2 %}
                    <td>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                    </td>
                {% else %}
                    <td>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                        <span class="fa fa-star "></span>
                    </td>
                {% endif %}
                <td><a data-id="moreComment{{ forloop.counter }}" class="button more-comment"
                       href="javascript:void(0)"> {{ review.short_review }}</a></td>
                <td>{{ review.customer.user }}</td>
                <td>{{ review.date_added }}</td>
            </tr>
            <tr id="moreComment{{ forloop.counter }}" style="visibility: collapse">
                {% if  review.imageURL == "" %}
                    <td colspan="5">{{ review.long_review }}</td>

                {% else %}
                    <td colspan="2"><img class="card-img-top" height="200" width="200" src={{ review.imageURL }}></td>

                    <td colspan="3">{{ review.long_review }}</td>
                {% endif %}
            </tr>
        {% endfor %}


        </tbody>

    </table>

</div>
<!-- 페이징처리 시작 -->
<ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {% if review_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ review_obj.previous_review_page }}">이전</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
    {% endif %}
    <!-- 페이지리스트 -->
    {% for review_page in review_obj.paginator.page_range %}
        {% if review_page >= review_obj.number|add:-5 and review_page <= review_obj.number|add:5 %}
            {% if review_page == review_obj.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ review_page }}">{{ review_page }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ review_page }}">{{ review_page }}</a> <!-- url, 페이지, id 태그 위치 가기 -->
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {% if review_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ review_obj.next_review_page }}">다음</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
    {% endif %}
</ul>
<!-- 페이징처리 끝 -->
<script type="text/javascript">


</script>