{% load store_filter %}
{% load static %}
<div class="container mt-3">
    <table class="table">
        <thead class="table-light">
        <tr id="product-review-topic">

        </tr>
        <tr>
            <th>고객만족도</th>

            <th>구매후기</th>

            <th>작성자</th>

            <th>작성일</th>

        </tr>
        </thead>
        <tbody id="product-reivew">


        </tbody>
    </table>

</div>
<!-- 페이징처리 시작 -->
<ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {#    {% if review_obj.has_previous %}#}
    {#        <li class="page-item">#}
    {#            <a class="page-link">이전</a>#}
    {#        </li>#}
    {#    {% else %}#}
    {#        <li class="page-item disabled">#}
    {#            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>#}
    {#        </li>#}
    {#    {% endif %}#}
    <!-- 페이지리스트 -->
    {% for review_page in review_obj.paginator.page_range %}
        {% if review_page >= review_obj.number|add:-5 and review_page <= review_obj.number|add:5 %}
            {% if review_page == review_obj.number %}
                <li class="review-page-item review-page active" aria-current="page">
                    <a class="page-link page-link-review review-page{{ review_page }}"
                       data-page="{{ review_page }}">{{ review_page }}</a>
                </li>
            {% else %}
                <li class="review-page-item review-page" name="test">
                    <a class="page-link page-link-review" data-page="{{ review_page }}">{{ review_page }}</a>
                    <!-- url, 페이지, id 태그 위치 가기 -->
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {#    {% if review_obj.has_next %}#}
    {#        <li class="page-item next">#}
    {#            <a class="page-link">다음</a>#}
    {#        </li>#}
    {#    {% else %}#}
    {#        <li class="page-item disabled">#}
    {#            <a class="page-link next" tabindex="-1" aria-disabled="true" href="#">다음</a>#}
    {#        </li>#}
    {#    {% endif %}#}
</ul>
<!-- 페이징처리 끝 -->
<script>
    $('.review-page').click(function (e) {
        $('.review-page-item').removeClass('active')
        {#var page = this.dataset.page;#}
        {#console.log(typeof page)#}

    });

    $.ajax({
        url: '/product/review/{{ product.seller_code }}/1/',
        type: 'GET'
    }).done(function (data) {
        nextReview(data, 1)
    }).fail(function () {
        console.log("실패")
    })


    $(".page-link-review").click(function () {
        var page = this.dataset.page;
        $.ajax({
            url: '/product/review/{{ product.seller_code }}/' + page + '/',
            type: 'GET'
        }).done(function (data) {
            nextReview(data, page)
        }).fail(function () {
            console.log("실패")
        })
    });


    function nextReview(data, page) {
        var counterReview = 0
        $('#product-reivew').html('');

        $.each(jQuery.parseJSON(data), function (id, data) {
            stars = getStars(data.fields.star_rating)
            if (data.fields.image_url == "") {
                $('#product-reivew').append(`<tr><td>${stars}</td><td><a data-id="moreComment${counterReview}" class="button more-comment-review" href="javascript:void(0)">${data.fields.short_review}</a></td><td>${data.fields.review_user_name}</td><td>${data.fields.date_added}</td></tr>
                                        <tr id="moreComment${counterReview}" style="display: none"><td colspan="4">${data.fields.long_review}</td></tr>`);

            } else {
                $('#product-reivew').append(`<tr><td>${stars}</td><td><a data-id="moreComment${counterReview}" class="button more-comment-review" href="javascript:void(0)">${data.fields.short_review}</a></td><td>${data.fields.review_user_name}</td><td>${data.fields.date_added}</td></tr>
                                        <tr id="moreComment${counterReview}" style="display: none"><td colspan="2"><img class="card-img-top" height="200" width="200" src=${data.fields.image_url}></td><td colspan="2">${data.fields.long_review}</td></tr>`);
            }
            counterReview++

        });
        $(".more-comment-review").click(function (e) {
            e.preventDefault();
            var data = this.dataset.id
            $('#' + data).toggle()
        });
    }

    function getStars(value) {
        var stars = ""
        for (var i = 0; i < value; i++) {
            stars += '<span class="fa fa-star checked"></span>'
        }
        while (value < 5) {
            stars += '<span class="fa fa-star"></span>'
            value++
        }
        return stars;
    }

</script>

