{% extends 'store/main.html' %}

{% load static %}
{% block content %}

    {% include "store/carousel.html" %}
    <!-- 제품 목록-->
    <section class="py-5">

        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                {% for product in products %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
{#                        <a href="/product_detail/{{ product.seller_code }}">#}
                        <a href="{% url 'product_detail' product.seller_code %}">
                            <img class="card-img-top" src="https://dummyimage.com/1000x1000/dee2e6/6c757d.jpg" alt="..."/>
                        </a>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ product.product_name }}</h5>
                                <!-- Product price-->
                                <h4>{{ product.price_discount }}원</h4><h5 class="text-decoration-line-through">{{ product.price | floatformat:0}}원</h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">장바구니 추가</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}



            </div>
        </div>
    </section>

    <!-- Core theme JS-->
    {#        <script src="js/scripts.js"></script>#}

{% endblock content %}
