<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>휴대폰인증</title>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
</head>
<body>
<table>
    <tr>
        <th>이름</th>
        <td><input type="text" name="user_name"></td>
    </tr>
    <tr>
        <th>휴대폰</th>
        <td><input type="text"/></td>
    </tr>
    <tr>
        <th>-----</th>
        <td><input type="text"/></td>
    </tr>
    <tr>
        <th>결제</th>

        <td>
            <button onclick="requestPay()">결제하기</button>
        </td>
    </tr>
</table>
</body>
{% load static %}
<script type="text/javascript" src="{% static 'js/iamport.js' %}"></script>

</html>