{#<ul style="list-style-type: none">#}
{#    <li>#}
{#        <strong>첫 번째 질문</strong>#}
{#        <div>#}
{#            <p>망고땡 몰에서는 항상 고객 여러분께</p>#}
{#            <p>신선한 상품을 제공하고자 노력하고 있습니다.</p>#}
{#            <p>구입하신 상품 중</p>#}
{#            <p>품질에 이상이 있는 상품을 구입하신 고객님께서는</p>#}
{#            <p>Self 환불 서비스를 이용해 신청 주십시오.</p>#}
{#            <p>확인 후 즉시 환불해 드리겠습니다.</p>#}
{#        </div>#}
{#    </li>#}
{##}
{#</ul>#}
<table class="table">
    <thead class="table-light">
    <tr id="product-review-topic">

    </tr>
    <tr>
        <th>많이 물어보는 질문 top 10</th>

    </tr>
    </thead>
    <tbody id="product-reivew">
    <tr>
        <td>
            신선 상품의 상태가 좋지 않아요.
        </td>
    </tr>
    <tr>
        <td>
            <p>망고땡 몰에서는 항상 고객 여러분께</p>
            <p>신선한 상품을 제공하고자 노력하고 있습니다.</p>
            <p>&nbsp;</p>
            <p>구입하신 상품 중</p>
            <p>품질에 이상이 있는 상품을 구입하신 고객님께서는</p>
            <p>Self 환불 서비스를 이용해 신청 주십시오.</p>
            <p>&nbsp;</p>
            <p>확인 후 즉시 환불해 드리겠습니다.</p>
        </td>
    </tr>

    </tbody>
</table>