{% extends 'store/mypage.html' %}
{% load static %}
{% block mypage %}

    <h1>원하는 해결 방법</h1>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
            교환
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
            환불
        </label>
    </div>
    <h1>사유</h1>
    <textarea style="height: 300px;" class="form-control" id="validationTextarea" placeholder="사유를 입력해주세요" required></textarea>

{% endblock %}