{% extends 'store/mypage.html' %}
{% load static %}
{% block mypage %}
    <div class="container" style=" height: 90rem"> <!--전체 컨테이너-->
        <div class="item">
            <span><h3 style="color: grey">주문번호: {{ orderItem.orderHistory.order_number }}</h3></span>
            <hr>
        </div>

        <div class=" container" id="rcorners2" style=" height: 15rem;"><!--주문내역 컨테이너-->
            <div class="item" style="padding-top: 10px">
                <div><h5>결제일 : {{ orderItem.orderHistory.date_completed | date:'y/m/d' }}</h5>
                </div>
            </div>
            <div class="item" style="padding: 10px; height: 200px">
                <div class="container-orderlist" style="flex-direction: row;">

                    <div class="item-orderlist-picture">
                        <img style="width: 160px; height: 180px"
                             src={{ orderItem.product.image_title.url }}  alt="..."/>
                    </div>

                    <div class="item-orderlist-info" style=" margin: 10px;">

                        {% if orderItem.deliver_state == "checking" %}
                            <span style="font-size: 25px; "><b>주문 확인중</b></span>
                        {% elif item.deliver_state == "delivering" %}
                            <span style="font-size: 25px; "><b>배송중 </b> 송장번호 : 2354456456></span>
                        {% elif orderItem.deliver_state == "arrived" %}
                            <span style="font-size: 25px; "><b>도착 </b> 송장번호 : 2354456456></span>
                        {% endif %}
                        {#                        <span style="font-size: 25px; padding-bottom: 5px">12/21 도착 </span>#}
                        <hr>
                        {% if orderItem.item_option_bool == True %}
                            <h4>{{ orderItem.product.product_name }} | 옵션: {{ orderItem.get_all_option_name }}</h4>
                        {% else %}
                            <h4>{{ orderItem.product.product_name }}</h4>
                        {% endif %}
                        <span>{{ orderItem.get_all_total | floatformat:0 }} 원 <span> {{ orderItem.quantity }} 개</span> 배송비 : {{ orderItem.get_delivery_price }}</span>

                    </div>

                    <div class="item-orderlist-button">
                        <div class="center-orderlist-option">
                            <a class="nav-link-mypage btn"
                               style="border-style: groove; border-color: black; width: 150px" href="/">배송조회</a>
                        </div>
                        <div class="center-orderlist-option">
                            <a class="nav-link-mypage btn"
                               style="border-style: groove; border-color: black; width: 150px"
                               href="#">교환,
                                반품 신청</a>
                        </div>
                        <div class="center-orderlist-option">
                            <a class="nav-link-mypage btn"
                               style="border-style: groove; border-color: black; width: 150px" onclick="reviewButton()"
                               href="#">리뷰쓰기</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <hr style="clear: both; visibility: hidden;">


        <span><h5><b>받는 사람 정보</b></h5></span>

        <hr>
        <div class="item">
            <div class="container-orderdetail" style="display: flex">
                <div class="item-orderdetail-topic">받는 사람</div>
                <div class="item-orderdetail-info">{{ orderItem.orderHistory.recipent_name }}</div>
            </div>
            <div class="container-orderdetail">
                <div class="item-orderdetail-topic">연락처</div>
                <div class="item-orderdetail-info"> {{ orderItem.orderHistory.recipent_number }}</div>
            </div>
            <div class="container-orderdetail">
                <div class="item-orderdetail-topic">받는주소</div>
                <div class="item-orderdetail-info"> {{ orderItem.orderHistory.recipent_address1 }} {{ orderItem.orderHistory.recipent_address2 }}</div>
            </div>
            <div class="container-orderdetail">
                <div class="item-orderdetail-topic">배송요청사항</div>
                <div class="item-orderdetail-info">{{ orderItem.orderHistory.order_request }}</div>
            </div>
        </div>
        <hr style="clear: both; visibility: hidden;">

        <span><h5><b>결제 정보</b></h5></span>
        <hr>
        <div class="item">
            <div class="container-orderdetail" style="display: flex">
                <div class="item-orderdetail-topic">결제 수단</div>
                <div class="item-orderdetail-info">카드</div>
            </div>
            {#            <div class="container-orderdetail">#}
            {#                <div class="item-orderdetail-topic">마일리지 할인</div>#}
            {#                <div class="item-orderdetail-info">0</div>#}
            {#            </div>#}
            {#            <div class="container-orderdetail">#}
            {#                <div class="item-orderdetail-topic">쿠폰할인</div>#}
            {#                <div class="item-orderdetail-info">0</div>#}
            {#            </div>#}
            <div class="container-orderdetail">
                <div class="item-orderdetail-topic">제품 비용</div>
                <div class="item-orderdetail-info">{{ orderItem.orderHistory.total_fee }} 원</div>
            </div>
            <div class="container-orderdetail">
                <div class="item-orderdetail-topic">배송비</div>
                <div class="item-orderdetail-info">{{ orderItem.orderHistory.shipping_fee }}</div>
            </div>
            <hr class="hr-orderdetail-totalpay">
            <div class="container-orderdetail">
                <div class="item-orderdetail-topic">총 결제금액</div>
                <div class="item-orderdetail-info"><b>{{ orderItem.orderHistory.get_total }} 원</b></div>
            </div>
        </div>
    </div>
    <script>
        {#console.log({{ orderItem.deliver_state })#}

        function reviewButton() {
            if ("{{orderItem.deliver_state}}" != "delivered") {
                alert("제품이 도착한 후 리뷰를 적어주세요!");
            } else {
                url = "/mypage/item/review/" + {{ orderItem.orderHistory.order_number }}+"/" + {{ orderItem.product.seller_code }}
                    window.location.replace(url)
            }
        }

    </script>


{% endblock mypage %}