{% extends 'store/main.html' %}

{% load static %}
{% block content %}
    <section class="py-5 ">
        <div class="container">
            <!-- 사용자 이름, 배송, 포인트, 쿠폰 1:1문의 바 -->
            <div class="container-mypage">
                <div class=" item-mypage-info-holder">
                    <div class="container" style="flex-direction: column; ">
                        <div class="item" style="text-align: center; ">
                            <i class="item far fa-address-card  fa-5x"></i>

                        </div>


                        <div class="item" style="text-align: center; ">
                            <b class="item">사용자 이름</b>

                        </div>
                        <div class="item" style="text-align: center; ">
                            <hr>
                            <b class="item">회원정보 관리</b>

                        </div>

                    </div>
                </div>
                <div class=" item-mypage-info-holder">
                    <div class="container" style="flex-direction: column">
                        <div class="item" style="text-align: center">
                            <i class="fas fa-truck  fa-5x"></i>
                        </div>
                        <div class="item" style="text-align: center">
                            <b>배송</b>
                        </div>
                        <hr>
                        <div class="item" style="text-align: center">
                            <b>0</b>
                        </div>
                    </div>
                </div>
                <div class=" item-mypage-info-holder">
                    <div class="container" style="flex-direction: column;">
                        <div class="item" style="text-align: center">
                            <i class="fas fa-money-bill-alt  fa-5x"></i><br>
                        </div>
                        <div class="item" style="text-align: center">
                            <b>포인트</b>
                        </div>
                        <hr>

                        <div class="item" style="text-align: center">

                            <b>0</b>
                        </div>

                    </div>

                </div>
                <div class=" item-mypage-info-holder">
                    <div class="container" style="flex-direction: column">
                        <div class="item" style="text-align: center">

                            <i class="fas fa-percent  fa-5x"></i><br>
                        </div>
                        <div class="item" style="text-align: center">

                            <b>쿠폰</b>
                        </div>
                        <hr>

                        <div class="item" style="text-align: center">

                            <b>0</b>
                        </div>

                    </div>

                </div>
                <div class=" item-mypage-info-holder">
                    <div class="container" style="flex-direction: column">
                        <div class="item" style="text-align: center ">

                            <i class="fas fa-question-circle  fa-5x"></i><br>
                        </div>
                        <div class="item" style="text-align: center ">

                            <b>1:1 문의</b>
                        </div>
                        <hr>

                        <div class="item" style="text-align: center ">

                            <b>0</b>
                        </div>

                    </div>

                </div>
            </div>

            <!-- 리스트 메뉴 -->
            <div class="container-mypage" style=" height: 90rem">
                <div class="item-mypage-list ">
                    <nav class="sb-sidenav">
                        <div class="sb-sidenav-menu" style="width: 10em;">
                            <div class="nav">

                                <a class="nav-link nav-link-mypage" href="{% url 'userinfo' %}">사용자 정보
                                </a>

                                <hr>

                                <a class="nav-link nav-link-mypage" href="{% url 'orderhistory' %}">주문/배송내역</a>

                                <hr>
{#                                <a class="nav-link nav-link-mypage" href="{% url 'favoritelist' %}">찜내역</a>#}
{##}
{#                                <hr>#}


                                <a class="nav-link nav-link-mypage" href="{% url 'reviewlist' %}">구매 후기
                                </a>
                                <hr>

                                <a class="nav-link nav-link-mypage" href="{% url 'refundlist' %}">환불 내역
                                </a>
                                <hr>

                            </div>

                    </nav>

                </div>
                <div class="item-mypage-info">
                    {% block mypage %}

                    {% endblock mypage %}

                </div>

            </div>
        </div>
    </section>
{% endblock content %}
