{% load static %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="bg-light container px-4 px-lg-5">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-5" style="">
            <li class="nav-item"><a href="{% url 'userinfo' %}"
                                    class="nav-link dropdown-menu-size-customer">마이페이지</a></li>
            <li class="nav-item"><a href="{% url 'orderhistory' %}"
                                    class="nav-link dropdown-menu-size-customer">주문내역</a></li>
            <li class="nav-item"><a href="{% url 'faq' %}"
                                    class="nav-link dropdown-menu-size-customer">고객센터</a></li>
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}">{{ user.username }} (로그아웃)</a>
            {% else %}
                <li class="nav-item"><a href="{% url 'account_login' %}" class="nav-link dropdown-menu-size-customer">로그인</a>
                </li>
            {% endif %}
            {% if user.is_superuser %}
                <a class="nav-link" href={% url 'admin:index' %}>어드민페이지</a>
            {% endif %}

        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a href="{% url 'store' %}">
            <img src="{% static 'nscreen_logo/4_망고땡_로고 (영문).png' %}" width="220" alt="망고땡몰">
        </a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-5">
{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link dropdown-toggle dropdown-menu-size" id="navbarDropdown" href="#" role="button"#}
{#                       data-bs-toggle="dropdown" aria-expanded="false">전체상품</a>#}
{#                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown dropdown-menu-size">#}
{##}
{#                        <li><a class="dropdown-item" href="#!">신선 상품</a></li>#}
{#                        <li><a class="dropdown-item" href="#!">가공 식품</a></li>#}
{#                        <li><a class="dropdown-item" href="#!">생활 용품</a></li>#}
{#                        <li><a class="dropdown-item" href="#!">건강 식품</a></li>#}
{#                        <li><a class="dropdown-item" href="#!">화장품</a></li>#}
{#                        <li><a class="dropdown-item" href="#!">인테리어 소품</a></li>#}
{#                        <li><a class="dropdown-item" href="#!">취미/이벤트</a></li>#}
{#                        <li><a class="dropdown-item" href="#!">문구/사무용품</a></li>#}
{#                    </ul>#}
{#                </li>#}
{##}
{#                <li class="nav-item"><a class="nav-link dropdown-menu-size" href="#!">특가</a></li>#}
{#                <li class="nav-item"><a class="nav-link dropdown-menu-size" href="#!">베스트</a></li>#}
{#                <li class="nav-item"><a class="nav-link dropdown-menu-size" href="#!">신상</a></li>#}
{#                <li class="nav-item"><a class="nav-link dropdown-menu-size" href="#!">망고픽</a></li>#}

            </ul>

            <div class="row justify-content-end my-3">
                <div class="d-flex input-group">
                    <input class="form-control me-2 kw" type="text" style="width: 200px"
                           placeholder="검색" aria-label="검색"
                           value="{{ kw|default_if_none:'' }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="button" id="btn_search"><i
                                class="fas fa-search"></i></button>

                    </div>
                </div>
            </div>
            <form id="searchForm" method="get" action="{% url 'store' %}">
                <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
            </form>

            <a href="{% url 'cart' %}" class="nav-link-cart">

                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    <i class="fas fa-shopping-cart"></i>
                    <span class="badge bg-dark text-white ms-1 rounded-pill">{{ cartItems }}</span>

                </button>
            </a>
            <script>
                $(document).ready(function () {
                    $("#btn_search").on('click', function () {

                        $("#kw").val($(".kw").val())
                        $("#searchForm").submit();
                    });
                });
            </script>
        </div>
    </div>
</nav>
