{#{% load store_filter %}#}
{% load static %}
<button id="myBtn">문의 하기</button>

<div class="container mt-3">


    <table class="table">
        <thead class="table-light">
        <tr>
            <th>답변상태</th>
            <th>문의내용</th>
            <th>문의자</th>
            <th>등록일</th>
        </tr>
        </thead>
        <tbody id="product-question">


        </tbody>
    </table>

</div>

<!-- 페이징처리 시작 -->
<ul class="pagination justify-content-center">

    <!-- 페이지리스트 -->
    {% for question_page in question_obj.paginator.page_range %}
        {% if question_page >= question_obj.number|add:-5 and question_page <= question_obj.number|add:5 %}
            {% if question_page == question_obj.number %}
                <li class="question-page-item active question-page" aria-current="page">
                    <a class="page-link page-link-question question-page{{ question_page }}"
                       data-page="{{ question_page }}">{{ question_page }}</a>
                </li>
            {% else %}
                <li class="question-page-item page-item question-page">
                    <a class="page-link page-link-question" data-page="{{ question_page }}">{{ question_page }}</a>

                </li>
            {% endif %}
        {% endif %}
    {% endfor %}

</ul>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>

        <form id="form">

            <h1>질문 공개 비공개</h1>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radio" value="public" checked>

                <label class="form-check-label" for="radio">
                    공개
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radio" value="private">

                <label class="form-check-label" for="radio">
                    비공개
                </label>
            </div>


            <h1>질문 내용</h1>
            <textarea style="height: 300px;" class="form-control" name="question" id="validationTextarea"
                      placeholder="질문 내용을 입력해주세요"
                      required></textarea>

            <br>

            <button style="margin-top: 20px" class="btn btn-primary btn-lg btn-block submit" type="submit">질문하기
            </button>


        </form>

    </div>
</div>
<script>
    var form = document.getElementById('form')
    form.addEventListener('submit', function (e) { //결제 버튼 클릭시
        e.preventDefault()
        submitFormData();
    });

    function submitFormData() {
        var data = {
            'privacy': null,
            'question': null,
            'sellerCode':{{ product.seller_code }}
        }

        data.privacy = form.radio.value
        data.question = form.question.value
        url = "/product/question"


        fetch(url,{
            method: 'POST',
            headers:{
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken

            },
            body: JSON.stringify({'data':data})
        }).then((response) => response.json())
            .then((data) => {

                var msg = JSON.parse(data);
                if (msg == "complete") {//환불성공
                    alert("질문등록 완료")
                    location.reload();

                }

            })
    }

</script>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>
<!-- 페이징처리 끝 -->
<script>
    var token = '{{csrf_token}}';

    $('.question-page').click(function (e) {
        $('.question-page-item').removeClass('active')

        {#let a = $('.page-link-question').data('page');#}
        {#console.log(parseInt(a))#}

        {#$(e.target).addClass('active')#}

    });
    $.ajax({
        headers: {"X-CSRFToken": token},
        url: '/product/question/{{ product.seller_code }}/1/',
        type: 'POST',
        dataType: "json",
        data: JSON.stringify('{{ user }}'),
    }).done(function (data) {
        nextQuestion(data, 1)
    }).fail(function () {
        console.log("실패")
    })

    $(".page-link-question").click(function () {
        var page = this.dataset.page;
        $.ajax({
            headers: {"X-CSRFToken": token},
            url: '/product/question/{{ product.seller_code }}/' + page + '/',
            type: 'POST',
            dataType: "json",
            data: JSON.stringify('{{ user }}'),
        }).done(function (data) {
            nextQuestion(data, page)
        }).fail(function () {
            console.log("실패")
        })
    });

    function nextQuestion(data, page) {
        var counterQuestion = 0
        $('#product-question').html('');
        $.each(jQuery.parseJSON(data), function (id, data) {

            if (data.fields.question_state == true && data.fields.question_public == true) {
                $('#product-question').append(`<tr><td class="text-success">[답변완료]</td><td><a data-id="answer${counterQuestion}" class=" more-comment-question"
                           href="javascript:void(0)">${data.fields.question_body}</a></td><td>${data.fields.review_user_name}</td>
                <td>${data.fields.date_added}</td></tr>
            <tr id="answer${counterQuestion}" style="display: none"><td colspan="4">${data.fields.question_answer}</td></tr>`);
            } else if (data.fields.question_state == true && data.fields.question_public == false && data.fields.review_user_name == user) {
                $('#product-question').append(`<tr><td class="text-success">[답변완료]</td><td><a data-id="answer${counterQuestion}" class=" more-comment-question"
                           href="javascript:void(0)">${data.fields.question_body}</a></td><td>${data.fields.review_user_name}</td>
                <td>${data.fields.date_added}</td></tr>
            <tr id="answer${counterQuestion}" style="display: none"><td colspan="4">${data.fields.question_answer}</td></tr>`);
            } else if (data.fields.question_state == true && data.fields.question_public == false) {
                $('#product-question').append(`<tr><td class="text-success">[답변완료]</td><td><i class="fas fa-lock"></i> ${data.fields.question_body}</td><td>${data.fields.review_user_name}</td>
                <td>${data.fields.date_added}</td></tr>`);
            } else if (data.fields.question_state == false && data.fields.question_public == true) {
                $('#product-question').append(`<tr><td class="text-warning">[답변대기중]</td><td>${data.fields.question_body}</a></td><td>${data.fields.review_user_name}</td>
                <td>${data.fields.date_added}</td></tr>`);
            } else if (data.fields.question_state == false && data.fields.question_public == false && data.fields.review_user_name == user) {
                $('#product-question').append(`<tr><td class="text-warning">[답변대기중]</td><td> ${data.fields.question_body}</td><td>${data.fields.review_user_name}</td>
                <td>${data.fields.date_added}</td></tr>`);
            } else if (data.fields.question_state == false && data.fields.question_public == false) {
                $('#product-question').append(`<tr><td class="text-warning">[답변대기중]</td><td><i class="fas fa-lock"></i> ${data.fields.question_body}</td><td>${data.fields.review_user_name}</td>
                <td>${data.fields.date_added}</td></tr>`);
            }
            counterQuestion++

        });
        $(".more-comment-question").click(function (e) {
            e.preventDefault();
            var data = this.dataset.id
            $('#' + data).toggle()
        });

    }

</script>